/Razor
/Razor/*
/Ultima\ Online
/Ultima\ Online/*
/UOAM
/UOAM/*
/winetricks
/winetricks.bash-completion
/.project
*.log
/dosdevices
/drive_c
/system.reg
/user.reg
/userdef.reg
*.desktop


/.update-timestamp
/*.zip
/*.exe
/classicuo/
